{% extends "base.html" %}


{% block titulo %}
    Login
{% endblock titulo %}

{% block content %}

    <form method="post" autocomplete="off" class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Informe seus dados</h1>

        <div class="form-floating">
            <label for="floatingInput">Email address</label>
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="username">
        </div>
        <div class="form-floating">
            <label for="floatingPassword">Password</label>
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary" type="submit">Login</button>
            </div>
        </div>
    </form>

{% endblock content %}