{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %} 

{% block content %}
    {% include "veiculo/header.html" %}

    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Cor</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for veiculo in veiculos %}
                <tr>
                    <td>
                        {% if veiculo.tipo == 0 %}
                            Carro
                        {% else %}
                            Moto
                        {% endif %}
                    </td>
                    <td>{{ veiculo.ano }}</td>
                    <td>{{ veiculo.cor|default_if_none:"-" }}</td>
                    <td>{{ veiculo.modelo|default_if_none:"-" }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'garagem:update_veiculo' veiculo.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'garagem:delete_veiculo' veiculo.id %}">Excluir</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <a href="{% url 'garagem:create_veiculo' %}" class="btn btn-primary">Novo</a>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="alert alert-{{ message.tags }} alert-dismissible m-auto" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}