{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %} 

{% block content %}

{% include "veiculo/header.html" %}

<div class="text-left">
    <form method="POST" class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'garagem:index_veiculos' %}" class="btn btn-warning">Cancelar</a>
        {% endbuttons %}        
    </form>
</div>

  
{% endblock content %}