{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
{% include "pessoa/header.html" %}
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Tipo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.telefone }}</td>
                <td>{{ pessoa.email }}</td>
                <td>
                    {% if pessoa.is_staff %}
                        Administrador
                    {% else %}
                        Consumidor
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{% url 'pessoa:update' pessoa.id %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'pessoa:delete' pessoa.id %}">Excluir</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-lg-2">
        <a href="{% url 'pessoa:create' %}" class="btn btn-primary">Novo</a>
    </div>
</div>
{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible m-auto" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock content %}