{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
{% include "pessoa/header.html" %}

<div class="text-left">
<form method="POST" class="form" autocomplete="off">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{% url 'pessoa:index' %}" class="btn btn-warning">Cancelar</a>
    {% endbuttons %}        
</form>
</div>
  
{% endblock content %}