{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
{% include "pessoa/header.html" %}
<div class="row">
    <div class="col-5 align-content-center p-4 border border-dark text-center m-auto shadow rounded">
    <form method="POST">
        {% csrf_token %}
        <p>Tem certeza que deseja excluir a pessoa "{{ pessoa.nome }}"?</p>
        {% buttons %}
            <button type="submit" class="btn btn-danger">Confirmar</button>
            <a class="btn btn-warning" href="{% url 'pessoa:index' %}">Cancelar</a>
        {% endbuttons %}
    </form>
    </div>
</div>
{% endblock content %}
