{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
  {{ titulo }}
{% endblock titulo %}

{% block content %}

{% include "garagem/header.html" %}

<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Ano</th>
                <th scope="col">Cor</th>
                <th scope="col">Modelo</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% if veiculos_vinculados  %}
                {% for veiculo in veiculos_vinculados %}
                <tr>
                    <td>
                        {% if veiculo.tipo == 0 %}
                            Carro
                        {% else %}
                            Moto
                        {% endif %}
                    </td>
                    <td>{{ veiculo.ano }}</td>
                    <td>{{ veiculo.cor|default_if_none:"-" }}</td>
                    <td>{{ veiculo.modelo|default_if_none:"-" }}</td>
                    <td>
                        <a class="btn btn-warning" href='{% url "garagem:desvincular" veiculo.id %}'>Desvincular</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <p>
                    Nenhum veículo vinculado
                </p>
            {% endif %}

            {% if veiculos_nao_vinculados %}
                {% for veiculo in veiculos_nao_vinculados %}
                <tr>
                    <td>
                        {% if veiculo.tipo == 0 %}
                            Carro
                        {% else %}
                            Moto
                        {% endif %}
                    </td>
                    <td>{{ veiculo.ano }}</td>
                    <td>{{ veiculo.cor|default_if_none:"-" }}</td>
                    <td>{{ veiculo.modelo|default_if_none:"-" }}</td>
                    <td>
                        <a class="btn btn-primary" href='{% url "garagem:create" veiculo.id %}'>Vincular</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <p>Todos os veículos estão vinculados</p>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock content %}