<div class="page-header text-center p-4 row justify-content-center">
    <div class="col-10">
    <h2><a href="{% url 'garagem:index' %}">
            {{ titulo }}
    </a></h2>
    </div>
    <div class="col-2">
        <a href="{% url 'index' %}" class="btn btn-outline-dark">Início</a>
        <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
    </div>
</div>