{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %} 

{% block content %}
    {% include "garagem/header.html" %}
    
    <div class="row">
        <a href="{% url 'garagem:auto_create' %}" class="btn btn-primary">Gerar Garagens</a>
    </div>

    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Pessoa</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for garagem in garagens %}
                <tr>
                    <td>{{ garagem.pessoa }}</td>
                    <td>{{ garagem.veiculo|default_if_none:"-" }}</td>
                    <td>{{ garagem.telefone|default_if_none:"-" }}</td>
                    <td>{{ garagem.email|default_if_none:"-" }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'garagem:update' garagem.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'garagem:delete' garagem.id %}">Excluir</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if messages %}
        {% for message in messages %}
            <br>
            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}
{% endblock content %}
