{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link href="https://getbootstrap.com/docs/5.0/examples/sign-in/signin.css" rel="stylesheet">
    <title>
        {% block titulo %}
        
        {% endblock titulo %}
    </title>
</head>
<body>    
    <div class="container justify-content-center">
        {% block content %}
        
        {% endblock content %}
    </div>
    
    {% bootstrap_javascript jquery='full' %}

</body>
</html>