{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div class="container text-center justify-content-center">
        <h1>Teste Franq OpenBank</h1>
        <br>
        {% if user.is_anonymous %}
            <a class="btn btn-primary" href="{% url 'login' %}">Login</a>  
        {% else %}
            <br>
            <h3>Bem-vindo(a) {{ user.nome }}</h3>
            <h5>Tipo: 
                {% if user.is_staff %}
                    Administrador
                {% else %}
                    Consumidor
                {% endif %}</h5>
            <br>
            
            <div class="btn-group" role="group" aria-label="Basic example">
                {% if user.is_staff %}
                    <a href="{% url 'pessoa:index' %}" class="btn btn-primary">Pessoas</a>
                {% else %}
                    <a href="{% url 'pessoa:update' user.id %}" class="btn btn-primary">Cadastro</a>
                {% endif %}
                    <a href="{% url 'garagem:index' %}" class="btn btn-primary">Garagens</a>
                    {% if user.is_staff %}
                    <a href="{% url 'garagem:index_veiculos' %}" class="btn btn-primary">Veículos</a>
                    {% endif %}
                {% if user.is_superuser %}
                    <a href="{% url 'admin:index' %}" class="btn btn-secondary">Administração</a>
                {% endif %}
                    <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
            </div>
            
        {% endif %}
    </div>  
    {% if messages %}
    {% for message in messages %}
        <br>
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
        </div>
    {% endfor %}
    {% endif %}
{% endblock content %}
